.profile__job {
  margin: 0;
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: white;
}

@media screen and (max-width:750px) {
  .profile__job {
      font-size: 14px;
      line-height: 17px;
      text-align: center;
  }
}